@{
    ViewBag.Title = "About";
}

<h2 style="text-shadow: 1px 1px black">Our Team</h2>
<br />

<h4 style="color:black">Omri Kimhi</h4>
<h4 style="color:black">Shachar Yosebashvili</h4>
<h4 style="color:black">Liad Telner</h4>
<h4 style="color:black">Chen Niego</h4>
<h4 style="color:black">Gal Tayeb</h4>