@model IEnumerable<QuirkyBookRental.ViewModel.ThumbnailBoxViewModel>
@using QuirkyBookRental.Models
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <br />
    <br />
    <div class="row">
        <div class="pull-right" style="padding-right:15px;">
            <button type="submit" value="Search" class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-search"></span> &nbsp; Search
            </button>
        </div>
        <div class="pull-right">
            @{
                List<SelectListItem> listItem = new List<SelectListItem>();
                ApplicationDbContext db = ApplicationDbContext.Create();
                foreach (var item in db.Genres)
                {
                    listItem.Add(new SelectListItem
                    {
                        Text = item.Name,
                        Value = item.Name
                    });
                }
            }
            @Html.DropDownList("search", listItem, "Select Genre", new { @class = "form-control input-sm" })

        </div>
    </div>
    <br />
}

<div class="row">
    @foreach (var area in Model)
    {
        @Html.Partial("_ThumbnailAreaPartial", area);
    }
</div>